.header__nav {
    background-color: var(--accent-color);
    padding: 10px;
  }
  
  @media (min-width: 600px) {
    .header__nav .container {
      display: flex;
    }
    .header__nav-menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
  }
  
  .header__banner-h1,
  .header__nav-logo {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .header__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header__nav-menu {
      display: flex;
      flex-direction: column;
  }
  
  .header__nav-menu-item {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
  }
  
  .header__nav-menu-item:hover {
    font-weight: bold;
  }
  
  .header__banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }
  
  .header__banner-h1 {
    color: var(--accent-color);
  }